* {
    margin: auto;
    text-align: center;
}
body{
    background-color: #bdb2ff;
    font-family: 'Reggae One', cursive;
}

.grid {
    width: 200px;
    height: 200px;
    border: 5px solid #a0c4ff;
    display: flex;
    flex-wrap: wrap;
}

.squares {
    width: 20px;
    height: 20px;
    background-color: #fffffc;
}

.snake {
    background-color: #06d6a0;
}

.apple {
    background-color: #f94144; 
}

.button {
    background-color: #fdffb6;
    border: none;
    text-align: center;
    height: 50px;
    width: 200px;
    font-family: 'Reggae One', cursive;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    margin: 10px;
}